.box{
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content{
    padding: 40px;
}
.input-powder{
    border: 1px solid black !important;
}
.font{
    color: black;
}
.submit-powder{
    margin-top: 50px;
}
.ul-powder{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B06BDB;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.li-powder{
    float: left;
}

.li-powder a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-powder a:hover {
    background-color: white;
    color:#B06BDB ;
}