#add {
    background-color: #b06bdb;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#search {
    border: none;
    background-color: #b06bdb !important;
}
#tombol {
    margin-top: 60px;
    animation: fadeIn 1s;
}
#table-body {
    margin-top: 30px;
    animation: fadeIn 2s;
}

#alert {
    animation: fadeIn 1.5s;
}

#pagination {
    animation: fadeIn 3s;
}
.table-head {
    border-radius: 20px !important;
    background-color: #f0ecf4 !important;
}
.table {
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (max-width: 768px) {
    #table-body {
        overflow-x: scroll;
    }
}
#view {
    background-color: rgba(107, 178, 219, 0.1);
    border: none;
}
#edit {
    background-color: #f0ecf4;
    border: none;
}
#delete {
    background-color: #fbe7e8;
    border: none;
}
#plus {
    background-color: #fff7e1;
    border: none;
}
.fa-eye {
    color: #17a2b8;
}
.fa-edit {
    color: #b06bdb;
}
.bi-trash {
    color: red;
}
.fa-plus {
    color: #fbbc05;
}

#info {
    background-color: white !important;
}

@keyframes fadeIn {
    0% {
        margin-top: 200px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-control {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pending {
    background-color: lightyellow !important;
    color: orange !important;
    border-radius: 20px !important;
    font-size: 13px !important;
}

.approve {
    background-color: lightgreen !important;
    color: green !important;
    border-radius: 20px !important;
    font-size: 13px !important;
}

.formulir-control {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid lightgrey !important;
    color: #000;
    font-size: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: transparent;
}
