

.container1{
	width: 950px;
	height: 500px;
	background-color: white;
	margin: -1% auto;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
	/*margin-right: 60px;*/
}
.container2{
	width: 950px;
	height: 40px;
	background-color: #e7c1ff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
h5{
	margin-left: 40px;
	margin-top: 10px;
	color: #B06BDB;
}
hr{
	color: #B06BDB;
}
.form{
	width: 100%;
	padding: 30px;
	padding-left: 40px;
	
}
.form2{
	display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 4px;


position: absolute;
width: 1087px;
height: 70px;
left: 273px;
top: 485px;

background: rgba(176, 107, 219, 0.1);
border-radius: 4px;
}
button{
	width: 100%;
}

#Back1{
	background-color: #D99BFF;
	border: none;
}
#Next1{
	background-color: #B06BDB;
	border: none;
}
.Background{
	background-color: #efdbfb;
	border: #efdbfb;

}
.outstanding{
	background-color: #3c3c3c;
	border: none;
}
.Background:focus{
	background-color:#ffffff ;
	border: 2px solid #efdbfb;
    
}