
@media (min-width: 576px) {
    
    .viewpr{
        padding:10px;
    }
    
 }


@media (min-width: 768px) { 
     }


@media (min-width: 992px) { 
    .viewpr{
        padding: 40px;
    }
   
 }


@media (min-width: 1200px) { }


@media (min-width: 1400px) { }

.viewpr{
    position: relative;
    margin: auto;
    width:210mm;
    background-color:white;
}

#body{
    box-shadow: none;
}
.bold{
    text-decoration: underline;
    font-weight: 600;
    color: #000;
    font-size: 22px;
}

.logo_pr
{
    width:70px;
    height:70px;
} 

.text_pr{
    font-weight: 600;
    color: #000;
}

.subtext_pr{
    font-weight: 500;
    color: #000;
    margin: auto;
    font-size: 11px;
}


.subhead_pr{
    font-weight: 400;
    color: #000;
    margin: auto;
    font-size: 13px;
}

#body{
    margin-top: 20px;
}